.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 12px;
  padding: 8px;

  &Domain {
    width: 60%;
    padding-left: 8px;
  }

  &Status {
    width: 15%;
  }

  &Buttons {
    width: 25%;
  }

  &Text {
    font-size: 16px;
    margin: 0;
  }
}
