.item {
  display: flex;
  gap: 12px;
  padding: 8px;
  border: 2px solid teal;
  border-radius: 8px;

  &Domain {
    width: 60%;
  }

  &Status {
    width: 15%;
  }

  &Buttons {
    width: 25%;
  }

  &Text {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}
