.list {
  &Content {
    position: relative;
  }

  &Search {
    padding-top: 24px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  &ContainerTitle {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &Title {
    margin: 0;
    font-size: 24px;
  }

  &Container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }

  &Wrapper {
    position: relative;
  }

  &Observed {
    position: absolute;
    inset: auto 0 700px 0;
    height: 70px;
    pointer-events: none;
  }
}

