.list {
  &Content {
    position: relative;
  }

  &Search {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
  }

  &ContainerTitle {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &Title {
    margin: 0;
    font-size: 24px;
  }

  &Container {
    position: relative;
    max-width: 660px;
    margin: 0 auto;
  }

  &Wrapper {
    position: relative;
  }

  &Observed {
    position: absolute;
    inset: auto 0 10% 0;
    height: 70px;
    pointer-events: none;
  }
}

